/* Global */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
/* Commont */

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.btn {
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
/* ==============Header============= */
.header .main-content {
    display: flex;
    align-items: center;
    padding: 52px 0;
}
.header .main-content .navigation {
    margin-left: auto;
}
.header .main-content a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
}
.header .main-content .navigation ul {
    display: flex;
    margin-right: 177px;
    gap: 39px;
}
.header .navigation li:hover a {
    text-shadow: currentcolor 1px 0px 0px;
}
.header .cta .btn {
    border: 1px solid #1ebfc1;
    color: #1ebfc1;
}

.header .cta .btn-signup {
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    width: 108px;
    height: 48px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 24px;
}
/* ==============Hero============= */

.hero .main-content {
    display: flex;
    padding: 50px 0 79px;
    /* justify-content: space-between; */
    /* align-items: center; */
}
.hero .cta-content {
    width: 50%;
}
.hero .hero-image {
    width: 50%;
}
.hero .hero-image .img {
    /* width: 576px; */
    height: 631px;
    object-fit: cover;
    width: 100%;
}
.hero .slogan {
    margin-top: 93px;
    color: #767e7e;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero .heading {
    color: #0d1111;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
    margin-top: 18px;
}
.hero .desc {
    color: #9da6a5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    margin-top: 46px;
    width: 374px;
}
.hero .control {
    display: flex;
    margin-top: 42px;
    /* justify-content: center; */
    align-items: center;
}
.hero .control .btn {
    display: inline-block;
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4;
    margin-right: 50px;
}
.hero .control .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
.hero .control .icon:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
