/* Global */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
:root {
    --primary-color: #1ebfc1;
}
/* Commont */

.main-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.btn {
    border-radius: 14px;
    background: var(--primary-color);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}
.btn:hover {
    opacity: 0.9;
}
/* Header fixed */
.header-fixed {
    position: sticky;
    z-index: 1;
    top: -36px;
    background: rgb(255 255 255 / 70%);
}

/* ==============Header============= */
.header .main-content {
    display: flex;
    align-items: center;
    padding: 52px 0;
}
.header .main-content .navigation {
    margin-left: auto;
}
.header .main-content a {
    color: #2f3a3b;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
}
.header .main-content .navigation ul {
    display: flex;
    margin-right: 177px;
    gap: 39px;
}
.header .navigation li:hover a {
    text-shadow: currentcolor 1px 0px 0px;
}
.header .cta .btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.header .cta .btn-signup {
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    width: 108px;
    height: 48px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 24px;
}
/* ==============Hero============= */

.hero .main-content {
    display: flex;
    padding: 50px 0 79px;
    /* justify-content: space-between; */
    /* align-items: center; */
}
.hero .cta-content {
    width: 50%;
}
.hero .hero-image {
    width: 50%;
}
.hero .hero-image .img {
    /* width: 576px; */
    height: 631px;
    object-fit: cover;
    width: 100%;
}
.main-content .slogan {
    color: #767e7e;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.hero .slogan {
    margin-top: 93px;
}
.hero .heading {
    color: #0d1111;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
    margin-top: 18px;
}
.hero .cta-content .desc {
    color: #9da6a5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    margin-top: 46px;
    width: 374px;
}
.hero .control {
    display: flex;
    margin-top: 52px;
    /* justify-content: center; */
    align-items: center;
}
.hero .control .btn {
    display: inline-block;
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: var(--primary-color);
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4;
    margin-right: 50px;
}
.hero .control .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
.hero .control .icon:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
/* bubble */
.hero-image {
    position: relative;
}
.hero strong {
    color: #0d1111;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}
.hero-image .bubbles .bubble-1 {
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.hero-image .bubbles .icon-bubble {
    width: 36px;
    height: 40px;
}
.bubbles .bubble-1 .desc {
    width: 55px;
}
.hero-image .bubble-1 .linebook {
    position: absolute;
    width: 28px;
    height: 4px;
    background-color: #fff;
    margin: auto;
    left: 29px;
    bottom: 25px;
}
.hero-image .bubbles .bubble-2 {
    width: 124px;
    height: 132px;
    position: absolute;
    bottom: 47px;
    left: -61px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.bubbles .bubble-2 .desc {
    margin: 16px 0 3px;
    text-align: center;
}
.hero-image .bubbles .bubble-2 .iconbubble-2 {
    width: 74px;
    height: 6px;
    /* display: block; */
    /* margin: auto; */
    /* flex-shrink: 1; */
}
.hero-image .bubbles .bubble-2 .iconbubble-2:last-child {
    margin-top: 4px;
}
.hero-image .bubbles .bubble-3 {
    position: absolute;
    right: 41px;
    bottom: 41px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    padding: 17px 35px;
    /* display: flex; */
}
.bubble-3 {
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
/* avatar */
.bubble-3 .avatar-collection {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bubble-3 .avatar-collection .avatar {
    margin-top: 8px;
    width: 33px;
    height: 33px;
    border-radius: 33px;
    margin-left: -7px;
}
/* Features */
.features {
    padding-top: 127px;
}
.features .top-content .heading {
    width: 577px;
    color: #0d1111;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
    margin: 18px 0;
}
.features .top-content .desc {
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.features .stats {
    display: flex;
    gap: 200px;
}
.features .stats .img {
    margin-top: 80px;
}
.features .stats .heading {
    color: #0d1111;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 26px;
}
.features .stats .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.68; /* 168.75% */
    width: 224px;
}
/* Course */
.course .top-content .slogan {
    margin-top: 130px;
}
.course .top-content .heading {
    color: #0d1111;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.course .top-content .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.77; /* 177.778% */
    margin-top: 19px;
    width: 525px;
}
.courses .top-content a {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    top: 19px;
    right: -20px;
    position: absolute;
}
.courses .top-content .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
/* course */
.courses {
    padding-top: 130px;
}
.courses .course-list {
    display: flex;
    gap: 47px;
    align-items: center;
    justify-content: center;
}
.courses .course-list .image {
    margin-top: 79px;
    width: 359px;
    height: 393px;
    object-fit: cover;
    border-radius: 8px;
    background: #d0efed;
    transition: opacity 0.3s ease;
}
.courses .course-list .image:hover {
    opacity: 0.75;
    cursor: pointer;
}
.courses .slogan {
    color: #767e7e;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.courses .heading {
    margin-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.courses .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}
.courses .course {
    position: relative;
}
.courses .course .content {
    position: absolute;
    bottom: -117px;
    right: 17px;
    margin: auto;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    padding: 0 15px;
}
.course-list .course {
    padding: 0 18px;
    width: 32.33%;
}

.course-list .course .heading {
    margin-top: 18px;
    color: #0d1111;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.course-list .course .desc {
    color: #767e7e;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
}
.course-list .course .desc.fee {
    margin-top: 16px;
}
.course-list .course .desc strong {
    color: #0d1111;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.time-class {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
}
.course-list .time-class p {
    color: #9da6a5;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-top: 18px;
}

.course-list .time-class p::before {
    content: "";
    width: 6px;
    height: 6px;
    background: #1ebfc1;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
/* Stats number */
.stats-number {
    margin-top: 106px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 202px;
    padding: 265px 0 265px;
    text-align: center;
}
.stats-number .stats .number {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.stats-number .stats .desc {
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 11px;
}
/* testimonial */
.testimonial {
    /* margin-top: 264px; */
    padding-bottom: 130px;
}
.testimonial .block {
    display: flex;
}
.testimonial .right-content {
    width: 49%;
}

.testimonial .right-content .open-quote {
    width: 36px;
    height: 29px;
}
.testimonial .right-content .desc {
    margin-top: 24px;
    width: 419px;
    color: #5d6564;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
}
.testimonial .right-content .info {
    margin-top: 33px;
    color: #767e7e;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
}
.testimonial .right-content .info strong {
    color: #070707;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
}
.testimonial .controls {
    display: flex;
    gap: 50px;
    cursor: pointer;
}
.testimonial .controls .icon {
    margin-top: 52px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2ac9bf;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial .avatar-bubbles {
    width: 51%;
}
.testimonial .avatar-bubbles .avatar {
    position: relative;
}
.avatar-bubbles .avatars {
    position: relative;
}
.avatar-bubbles .avatars img {
    width: 78px;
    height: 78px;
    border-radius: 78px;
    background: #ff8282;
    position: absolute;
}
.avatar-bubbles .avatars img:nth-child(1) {
    width: 235px;
    height: 235px;
    border-radius: 235px;
    background: #ff8282;
    top: 107px;
    left: 171px;
}
.avatar-bubbles .avatars img:nth-child(2) {
    width: 92px;
    height: 92px;
    border-radius: 92px;
    background: #1ebfc1;
    top: 5px;
    left: 61px;
}
.avatar-bubbles .avatars img:nth-child(3) {
    background: #ffc147;
    top: 258px;
    left: -64px;
}
.avatar-bubbles .avatars img:nth-child(4) {
    background: #ff947a;
    bottom: 0;
    left: 134px;
    top: 403px;
}
.avatar-bubbles .avatars img:nth-child(5) {
    background: #b1dfdc;
    right: 32px;
    top: 386px;
}
.avatar-bubbles .avatars img:nth-child(6) {
    width: 110px;
    height: 110px;
    border-radius: 110px;
    background: #bf83ff;
    right: 0;
}
/* <!-- CTA --> */
.base-cta {
    margin-top: 82px;
    background: #def6f5;
    padding: 76px 135px 86px;
}
.base-cta .body {
    display: flex;
    gap: 410px;
    align-items: center;
}
.base-cta .left-content .heading {
    color: #070707;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.base-cta .left-content .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
}
.base-cta .btn.start {
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #2ac9bf;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 3.8;
}
/* Footer */
.footer {
    margin-top: 130px;
}
.footer .body {
    display: flex;
    gap: 121px;
}
.footer .body .row {
    width: 20%;
    display: flex;
    flex-direction: column;
}
.footer .body .row:nth-child(4) {
    width: 28%;
}
.footer .body .row .title {
    color: #2e2e2e;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.footer .body .row .link {
    color: #535353;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 19px;
    display: inline-block;
}
.footer .body .row .link img {
    margin-right: 9px;
}
.footer .copyright {
    color: #b0b5b4;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 80px 0 50px;
}
